body{
  margin: 0;
  padding: 0;
  background-color: #000;
}

.container{
  position: relative;
  width: 80%;
  margin:auto;
  padding: 0;
  background-color: whitesmoke;
}
.container .section{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#apresentacao{
  width: 50%;
}

td{
  background-color: rgba(191, 106, 68, 0.21);
}

#sec{
  background: url('../imagens/background-1.jpg');
  background-size: cover;
}
.container .section:nth-child(2){
  background: url('../imagens/background-2.webp');
  background-size: cover;
}
.container .section:nth-child(3){
  background: url('../imagens/background-3.jpg');
  background-size: cover;
}

